.facebook {
    background-color: #354E84;
    color: #fff;
}

.twitter {
    background-color: #00A5E3;
    color: #fff;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.85);
}

#mapSection {
    background-color: #ffffff;
}

#mapSection .section-title {
    color:#ce8e29;
    font-weight:300;
    margin-bottom:40px;
}

#mapSection .section-title [class*=fa]{
    color:#fff;
}

#mapSection {
    padding-top: 80px;
    background:#f5f5f5;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

#map {
    height: 500px;
}